<!-- <% @users.each do |user| %>
  <p>User: <%= user.name %> </p>
<% end %> -->

<!-- <html>
<head><title>John Cowan O'Hair</title></head>
<body> -->

<h1><%=h @message %></h1>
<figure>
	<%= link_to (image_tag "jcohairTombstoneB1.png", :title => "JC O'Hair Tombstone", :class => 'figure.center-align') %>
</figure>
<div class="mess">	
<h1><%=sanitize @message2 %></h1>
<h1><%=sanitize @message3 %></h1>
<h1><%=sanitize @message4 %></h1>
</div>
<!--</body>
</html> -->
