 <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
             <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
			  <li data-target="#myCarousel" data-slide-to="2"></li>
			  <li data-target="#myCarousel" data-slide-to="3"></li>
			  <li data-target="#myCarousel" data-slide-to="4"></li>
			  <li data-target="#myCarousel" data-slide-to="5"></li>
			  <li data-target="#myCarousel" data-slide-to="6"></li>
			  <li data-target="#myCarousel" data-slide-to="7"></li>
			 </ol>
			 <div class="carousel-inner">
			 	<div class="item active">
				 <!-- <a href="/assets/images/photo3.png"><img src= "<%= link_to image_tag 'photo3.png' %>"</a> -->
				 <img src='http://127.0.0.1:3000/app/assets/images/photo3.png' <%= link_to image_tag 'photo3.png'%> class="img-circle" />
			      <div class="carousel-caption">
			    	<h4></h4>
					<p>Mr. J. C. O'Hair</p>
				  </div>
			   </div> 
			  
              <div class="item">
              	
				 <img src= <%= link_to image_tag "OHair_Family2.png" %> class="img-circle">
				  <div class="carousel-caption">
					<h4></h4>
					<p>O'Hair Family's photo</p>
			      </div>
				 
              </div>
			  
			  
              <div class="item">
              	  <img src=<%= link_to image_tag "Directory1C.jpg"%> class="img-circle">
				<div class="carousel-caption">
					<h4></h4>
					<p>North Shore Church's Directory </p>
			    </div>
              </div>
			  
			   <div class="item">
              	  <img src= <%= link_to image_tag "NSC_pic.png" %> class="img-circle" >
				<div class="carousel-caption">
					<h4></h4>
					<p>North Shore Church of Chicago, IL </p>
			    </div>
              </div>
			  
			  <div class="item">
				 <img src= <%= link_to image_tag "NSC_group_outside.png" %> class="img-circle">
				  <div class="carousel-caption">
					<h4></h4>
					<p>North Shore Church's group photo</p>
			      </div>	 
              </div>
			  
			  
			  
			  <div class="item">
				 <img src= <%= link_to image_tag "NSC_group_inside.png" %> class="img-circle">
				  <div class="carousel-caption">
					<h4></h4>
					<p>North Shore Church's group photo Halloween Party</p>
			      </div>
              </div>
			  
			  
			  <div class="item">
              	  <img src=<%= link_to image_tag "OHair_Friends.png"%> class="img-circle">
				<div class="carousel-caption">
					<h4></h4>
					<p>Mr. O'Hair and Friends </p>
			    </div>
              </div>
			  
			  
			  
			 <!-- do not pass this div --> 
            </div>
    <!-- Carousel nav -->
           <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
           <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a> 
		   
    </div>
	 
	 

  
