<!DOCTYPE html5>
<html>
<head>
  <title>GbcStrmwdJcohair</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->
	
	
</head>
<body>
<div class="container-fluid">
	
       <%= render 'layouts/navigation' %>
	
	
	
	    <div class="navbar">
            <div class="navbar-inner">
    
     
              <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span></a>
   
              <!-- Leave the brand out there if you want it shown -->
              <a class="brand" href="#">In memory of J.C. O'Hair </a>
	          <%= render 'layouts/headerNav' %>
	 
              <!--  at 940px or less, place within here -->
                  <div class="nav-collapse collapse">
              <!-- .nav, .navbar-search, .navbar-form, etc -->
	
                  </div>
     
           </div>
         </div>
    </div>
	
	
	<div class="row">
		<div class="span9"><%= yield %></div>
		<div class="span3">
               
				<%= link_to image_tag 'Mr_MrsOHairC.png' %>
		</div>
	</div>
</div>
    <div></div>
	<!-- <div id="footer"><p>Footnotes for the given facts<p>&copy; 2013, Holden Inc, All rights reserved.</p></p></P></div> -->
	<footer>
		
		        <p class="center" >Footnotes for the given facts</p>
        <p>&copy; 2012 Holden, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
	</footer>
	
	
<%= javascript_include_tag "appliation" %>

</body>
</html>

